/* Estilos do conteúdo principal */
main {
	width: 90%;
	max-width: 100%;
	margin: 5% auto;
}

.nome-turma {
	text-align: center;
	margin-bottom: 30px;
}

.nome-turma h1 {
	font-size: 40px;
	font-weight: bold;
	color: #140f0f; /* Cor de texto*/
}

.materias {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 30px;
}

.materias article {
	width: calc(33.33% - 30px);
	margin-bottom: 30px;
	padding: 20px;
	background-color: #98b0f5; /* Cor de fundo secundária: cinza claro */
	border-radius: 10px;
}

.materias h2 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #273043; /* Cor principal: azul escuro */
}

.logo-materia {
	width: 100%;
	margin-bottom: 10px;
}

.materia-descricao {
	font-size: 16px;
	margin-bottom: 10px;
	color: #140f0f; /* Cor de texto */
}

.link-materiais {
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
	display: inline-block;
	padding: 8px 15px;
	background-color: #153a42; /* Cor secundária: azul claro */
	color: #f8f0f0; /* Cor de texto*/
	border-radius: 5px;
	text-decoration: none;
	transition: background-color 0.3s ease;
	border: 2px solid #454952; /* Cor principal: azul escuro */
}

.link-materiais:hover {
	background-color: #C78C19; /* Cor de realce: laranja */
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
	.materias article {
		width: 100%;
	}
}

@media screen and (max-width: 480px) {
	.nome-turma h1 {
		font-size: 28px;
	}

	.materias article {
		padding: 15px;
	}

	.materias h2 {
		font-size: 20px;
	}

	.link-materiais {
		font-size: 16px;
		padding: 5px 10px;
	}
}
